@model BlogSettings

<div id="settings-content">
    <mantle-input asp-for="PageTitle" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.PageTitle]" asp-validation-msg="true" />
    <mantle-input asp-for="DateFormat" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.DateFormat]" asp-validation-msg="true" />
    <mantle-input asp-for="ItemsPerPage" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.ItemsPerPage]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="ShowOnMenus" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.ShowOnMenus]" />
    <mantle-input asp-for="MenuPosition" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.MenuPosition]" asp-validation-msg="true" type="number" />
    @*<mantle-input asp-for="UseAjax" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.UseAjax]" />*@
    <div class="mb-3">
        @Html.Label("Roles", "Roles", new { @class = "form-label" })
        @Html.Mantle().RolesCheckBoxList("Roles", null, new { @class = "checkbox" }, new { data_bind = "checked: roles" })
    </div>
    <mantle-input asp-for="LayoutPathOverride" asp-label="@T[MantleCmsLocalizableStrings.Settings.Blog.LayoutPathOverride]" asp-validation-msg="true" />

    <hr />
    @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>