@model TagCloudBlock

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <div class="mb-3">
            <label></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <mantle-input asp-for="AutoResize" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.AutoResize]" ko-bind="blockModel.autoResize" />
                <mantle-input asp-for="RemoveOverflowing" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.RemoveOverflowing]" ko-bind="blockModel.removeOverflowing" />
                <mantle-input asp-for="EncodeURI" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.EncodeURI]" ko-bind="blockModel.encodeURI" />
            </div>
        </div>
        <mantle-input asp-for="Steps" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.Steps]" ko-bind="blockModel.steps" type="number" />
        <mantle-input asp-for="ClassPattern" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.ClassPattern]" ko-bind="blockModel.classPattern" />
        <mantle-input asp-for="AfterCloudRender" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.AfterCloudRender]" ko-bind="blockModel.afterCloudRender" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-input asp-for="Delay" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.Delay]" ko-bind="blockModel.delay" />
        <mantle-select asp-for="Shape" asp-items="Html.GetEnumSelectList<CloudShape>()" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.Shape]" ko-bind="blockModel.shape" />
        <mantle-input asp-for="Colors" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.Colors]" ko-bind="blockModel.colors" />
        <mantle-input asp-for="FontSizeFrom" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.FontSizeFrom]" ko-bind="blockModel.fontSizeFrom" />
        <mantle-input asp-for="FontSizeTo" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.TagCloudBlock.FontSizeTo]" ko-bind="blockModel.fontSizeTo" />
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>