@using Extenso.AspNetCore.Mvc.Rendering
@using Mantle.Infrastructure
@using Mantle.Plugins.Widgets.FlexSlider
@using Mantle.Plugins.Widgets.FlexSlider.ContentBlocks
@using Mantle.Web
@using Mantle.Web.Configuration
@using Mantle.Web.ContentManagement.Areas.Admin.Media.Services
@addTagHelper *, Mantle.Web

@inject FlexSliderPluginSettings Settings
@inject IMediaService mediaService

@model FlexSliderBlock

@{
    foreach (var script in Settings.GetResources(ResourceType.Script, "FlexSlider"))
    {
        <script asp-location="Foot" src="@script.Path"></script>
    }
    foreach (var style in Settings.GetResources(ResourceType.Stylesheet, "FlexSlider"))
    {
        <link rel="stylesheet" href="@style.Path" />
    }

    // TODO
    var images = mediaService.GetFiles(Model.MediaFolder);

    var html = Model.ToHtmlString();
}

@* Flex Slider does not support rtl and will be blank if you try. Therefore we force ltr here *@
<section class="slider" dir="ltr">
    <div id="@Model.ControlId" class="flexslider effect2">
        <ul class="slides">
            @foreach (var slide in images)
            {
                if (Model.ControlNav == ControlNavOption.Thumbnails)
                {
                    string thumbPath = slide.Path.Replace("/Media/", "/Media/.tmb_Media/");//TODO: Use thumb Hash
                    <li data-thumb="@thumbPath">
                        @Html.Image(Url, slide.Path, slide.Name)
                        @*<p class="flex-caption">@slide.Caption</p>*@
                    </li>
                }
                else
                {
                    <li>
                        @Html.Image(Url, slide.Path, slide.Name)
                        @*<p class="flex-caption">@slide.Caption</p>*@
                    </li>
                }
            }
        </ul>
    </div>
</section>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    $(document).ready(function () {
        @html
    });
</script>