@using Mantle.Web.ContentManagement
@using Mantle.Web.ContentManagement.Areas.Admin.ContentBlocks.Models

@model SaveResultModel

@inject Microsoft.Extensions.Localization.IStringLocalizer T

@Html.Raw(Model.Message)

<div style="text-align:center;margin-top:140px;">
    <p>
        @T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.SaveResultIfNotRedirectPleaseClick]
        <a href="@Model.RedirectUrl" class="btn btn-primary">@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.SaveResultRedirect]</a>
    </p>

</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            window.location.replace('@Model.RedirectUrl');
        }, 5000);
    }, false);
</script>