@model SaveResultModel

@Html.Raw(Model.Message)

<div style="text-align:center;margin-top:140px;">
    <p>
        @T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.SaveResultIfNotRedirectPleaseClick]
        <a href="@Model.RedirectUrl" class="btn btn-primary">@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.SaveResultRedirect]</a>
    </p>

</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            window.location.replace('@Model.RedirectUrl');
        }, 5000);
    }, false);
</script>