@model Language

@foreach (var style in SiteSettings.GetResources(ResourceType.Stylesheet, "Bootstrap-FileInput"))
{
    <link rel="stylesheet" href="@style.Path" />
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Primary" ko-click="create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Warning" ko-click="clear" icon="fa fa-warning" text="@T[MantleWebLocalizableStrings.General.Clear]" />
        <mantle-ko-button state="Success" ko-click="importLanguagePack" icon="fa fa-upload" text="@T[MantleWebLocalizableStrings.General.Import]" />
    </div>
    <mantle-grid />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <mantle-input asp-for="CultureCode" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.CultureCode]" asp-icon="fa fa-globe" />
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <mantle-input asp-for="Name" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.Name]" asp-icon="fa fa-file" />
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <mantle-input asp-for="SortOrder" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.SortOrder]" />
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <mantle-input asp-for="IsRTL" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.IsRTL]" />
                                <mantle-input asp-for="IsEnabled" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.IsEnabled]" />
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3 float-end">
                                    <mantle-ko-button state="Default" ko-click="cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                    <mantle-ko-button state="Primary" ko-click="save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="upload-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Import])) { }
            using (var body = panel.BeginBody())
            {
                <form id="upload-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <div class="mb-3">
                            @Html.Label("Upload", T[MantleWebLocalizableStrings.General.Upload], new { @class = "form-label" })
                            @Html.FileUpload("Upload")
                        </div>
                        <div class="mb-3 float-end">
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <mantle-ko-button state="Default" ko-click="cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>