@model Language
@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

@foreach (var asset in MantleWebAssets.Instance.BootstrapFileInput.Styles.OrderBy(x => x.Order))
{
    <link type="text/css" rel="stylesheet" href="@asset.Path" />
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T[MantleWebLocalizableStrings.General.Create]
        </a>
        <a data-bind="click: clear" class="btn btn-warning">
            <i class="fa fa-warning"></i>
            @T[MantleWebLocalizableStrings.General.Clear]
        </a>
        <a data-bind="click: importLanguagePack" class="btn btn-success">
            <i class="fa fa-upload"></i>
            @T[MantleWebLocalizableStrings.General.Import]
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <mantle-input asp-for="CultureCode" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.CultureCode]" asp-icon="fa fa-globe" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <mantle-input asp-for="Name" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.Name]" asp-icon="fa fa-file" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <mantle-input asp-for="SortOrder" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.SortOrder]" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <mantle-input asp-for="IsRTL" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.IsRTL]" />
                            <mantle-input asp-for="IsEnabled" asp-label="@T[MantleWebLocalizableStrings.Localization.LanguageModel.IsEnabled]" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" data-bind="click: cancel">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                                <button type="button" class="btn btn-primary" data-bind="click: save"><i class="fa fa-save"></i> @T[MantleWebLocalizableStrings.General.Save]</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="upload-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Import])) { }
            using (var body = panel.BeginBody())
            {
                <form id="upload-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            @Html.Label("Upload", T[MantleWebLocalizableStrings.General.Upload], new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                @Html.FileUpload("Upload")
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-default" data-bind="click: cancel">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>