@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Plugins.Widgets.View360
@using Mantle.Web.Mvc

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.IWorkContext WorkContext

@model View360Block
@{
    var imagesDirectoryModal = @Html.Mantle().ModalFileManager("ImagesDirectory", FileFilterMode.Folder, "Select Folder", knockoutBinding: "blockModel.imagesDirectory");
    var fullSizeImagesDirectory = @Html.Mantle().ModalFileManager("FullSizeImagesDirectory", FileFilterMode.Folder, "Select Folder", knockoutBinding: "blockModel.fullSizeImagesDirectory");
}

<div id="block-content">
    @using (var tabs = Html.ExtensoUI().Begin(new Tabs()))
    {
        tabs.Tab(T[LocalizableStrings.EditorTabs.General], "tab-general");
        tabs.Tab(T[LocalizableStrings.EditorTabs.MainConfiguration], "tab-main");
        tabs.Tab(T[LocalizableStrings.EditorTabs.Navigation], "tab-navigation");
        tabs.Tab(T[LocalizableStrings.EditorTabs.LoaderInfoConfig], "tab-loader-info");

        using (var tab = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-select asp-for="Mode"
                               asp-items="Html.GetEnumSelectList<Mode>()"
                               asp-label="@T[LocalizableStrings.Mode]"
                               ko-bind="blockModel.mode" />
                <mantle-input asp-for="ImagesPattern" asp-label="@T[LocalizableStrings.ImagesPattern]" ko-bind="blockModel.imagesPattern" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    @Html.LabelFor(m => m.ImagesDirectory)
                    @imagesDirectoryModal.RenderFormField()
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.FullSizeImagesDirectory)
                    @fullSizeImagesDirectory.RenderFormField()
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    <label></label>
                    <mantle-input asp-for="AutoRotate" asp-label="@T[LocalizableStrings.AutoRotate]" ko-bind="blockModel.autoRotate" />
                    <mantle-input asp-for="AutoRotateStopOnMove" asp-label="@T[LocalizableStrings.AutoRotateStopOnMove]" ko-bind="blockModel.autoRotateStopOnMove" />
                    <mantle-input asp-for="LoadFullSizeImagesOnZoom" asp-label="@T[LocalizableStrings.LoadFullSizeImagesOnZoom]" ko-bind="blockModel.loadFullSizeImagesOnZoom" />
                    <mantle-input asp-for="LoadFullSizeImagesOnFullscreen" asp-label="@T[LocalizableStrings.LoadFullSizeImagesOnFullscreen]" ko-bind="blockModel.loadFullSizeImagesOnFullscreen" />
                </div>
                <mantle-select asp-for="AutoRotateDirection"
                               asp-items="Html.GetEnumSelectList<AutoRotateDirection>()"
                               asp-label="@T[LocalizableStrings.AutoRotateDirection]"
                               ko-bind="blockModel.autoRotateDirection" />
                <mantle-input asp-for="AutoRotateSpeed" asp-label="@T[LocalizableStrings.AutoRotateSpeed]" ko-bind="blockModel.autoRotateSpeed" type="number" />
                <mantle-input asp-for="Width" asp-label="@T[LocalizableStrings.Width]" ko-bind="blockModel.width" type="number" />
                <mantle-input asp-for="Height" asp-label="@T[LocalizableStrings.Height]" ko-bind="blockModel.height" type="number" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="Rows" asp-label="@T[LocalizableStrings.Rows]" ko-bind="blockModel.rows" type="number" />
                <mantle-input asp-for="Columns" asp-label="@T[LocalizableStrings.Columns]" ko-bind="blockModel.columns" type="number" />
                <mantle-input asp-for="XAxisSensitivity" asp-label="@T[LocalizableStrings.XAxisSensitivity]" ko-bind="blockModel.xAxisSensitivity" type="number" />
                <mantle-input asp-for="YAxisSensitivity" asp-label="@T[LocalizableStrings.YAxisSensitivity]" ko-bind="blockModel.yAxisSensitivity" type="number" />
                <mantle-input asp-for="InertiaConstant" asp-label="@T[LocalizableStrings.InertiaConstant]" ko-bind="blockModel.inertiaConstant" type="number" />
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="ButtonWidth" asp-label="@T[LocalizableStrings.ButtonWidth]" ko-bind="blockModel.buttonWidth" type="number" />
                <mantle-input asp-for="ButtonHeight" asp-label="@T[LocalizableStrings.ButtonHeight]" ko-bind="blockModel.buttonHeight" type="number" />
                <mantle-input asp-for="ButtonMargin" asp-label="@T[LocalizableStrings.ButtonMargin]" ko-bind="blockModel.buttonMargin" type="number" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="TurnSpeed" asp-label="@T[LocalizableStrings.TurnSpeed]" ko-bind="blockModel.turnSpeed" type="number" />
                <div class="mb-3">
                    <label></label>
                    <mantle-input asp-for="ShowButtons" asp-label="@T[LocalizableStrings.ShowButtons]" ko-bind="blockModel.showButtons" />
                    <mantle-input asp-for="ShowTool" asp-label="@T[LocalizableStrings.ShowTool]" ko-bind="blockModel.showTool" />
                    <mantle-input asp-for="ShowPlay" asp-label="@T[LocalizableStrings.ShowPlay]" ko-bind="blockModel.showPlay" />
                    <mantle-input asp-for="ShowPause" asp-label="@T[LocalizableStrings.ShowPause]" ko-bind="blockModel.showPause" />
                    <mantle-input asp-for="ShowZoom" asp-label="@T[LocalizableStrings.ShowZoom]" ko-bind="blockModel.showZoom" />
                    <mantle-input asp-for="ShowTurn" asp-label="@T[LocalizableStrings.ShowTurn]" ko-bind="blockModel.showTurn" />
                    <mantle-input asp-for="ShowFullscreen" asp-label="@T[LocalizableStrings.ShowFullscreen]" ko-bind="blockModel.showFullscreen" />
                </div>
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    <label></label>
                    <mantle-input asp-for="DisplayLoader" asp-label="@T[LocalizableStrings.DisplayLoader]" ko-bind="blockModel.displayLoader" />
                </div>
                <mantle-input asp-for="LoaderHolderClassName" asp-label="@T[LocalizableStrings.LoaderHolderClassName]" ko-bind="blockModel.loaderHolderClassName" />
                <mantle-input asp-for="LoadingTitle" asp-label="@T[LocalizableStrings.LoadingTitle]" ko-bind="blockModel.loadingTitle" />
                <mantle-input asp-for="LoadingSubtitle" asp-label="@T[LocalizableStrings.TurnSpeed]" ko-bind="blockModel.loadingSubtitle" />
                <mantle-input asp-for="LoadingMessage" asp-label="@T[LocalizableStrings.TurnSpeed]" ko-bind="blockModel.loadingMessage" />
                <mantle-input asp-for="LoaderModalBackground" asp-label="@T[LocalizableStrings.TurnSpeed]" ko-bind="blockModel.loaderModalBackground" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="LoaderModalOpacity" asp-label="@T[LocalizableStrings.LoaderModalOpacity]" ko-bind="blockModel.loaderModalOpacity" />
                <mantle-input asp-for="LoaderCircleWidth" asp-label="@T[LocalizableStrings.LoaderCircleWidth]" ko-bind="blockModel.loaderCircleWidth" />
                <mantle-input asp-for="LoaderCircleLineWidth" asp-label="@T[LocalizableStrings.LoaderCircleLineWidth]" ko-bind="blockModel.loaderCircleLineWidth" />
                <mantle-input asp-for="LoaderCircleLineColor" asp-label="@T[LocalizableStrings.LoaderCircleLineColor]" ko-bind="blockModel.loaderCircleLineColor" />
                <mantle-input asp-for="LoaderCircleBackgroundColor" asp-label="@T[LocalizableStrings.LoaderCircleBackgroundColor]" ko-bind="blockModel.loaderCircleBackgroundColor" />
            </div>
        }
    }

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    @imagesDirectoryModal.RenderModal()
    @fullSizeImagesDirectory.RenderModal()
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @imagesDirectoryModal.RenderScript()
    @fullSizeImagesDirectory.RenderScript()
    @Model.RenderKOScript()
</script>