<div id="forum-group-grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="forumGroupModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
    </div>
    <mantle-grid id="ForumGroupGrid" />
</div>

<div id="forum-group-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="forum-group-form-section-form" role="form">
                    <fieldset>
                        <legend id="forum-group-form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("Name", T[MantleWebLocalizableStrings.General.Name], new { @class = "form-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: forumGroupModel.name" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("DisplayOrder", T[MantleWebLocalizableStrings.General.Order], new { @class = "form-label" })
                                @Html.TextBox("DisplayOrder", null, new { @class = "form-control", data_bind = "value: forumGroupModel.displayOrder" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="forumGroupModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="forumGroupModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="forum-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="forumModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="forumModel.goBack" icon="fa fa-arrow-left" text="@T[MantleWebLocalizableStrings.General.Back]" />
    </div>
    <mantle-grid id="ForumGrid" />
</div>

<div id="forum-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="forum-form-section-form" role="form">
                    <fieldset>
                        <legend id="forum-form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("Name", T[MantleWebLocalizableStrings.General.Name], new { @class = "form-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: forumModel.name" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("Description", T[MantleWebLocalizableStrings.General.Description], new { @class = "form-label" })
                                @Html.TextArea("Description", null, new { @class = "form-control", data_bind = "value: forumModel.description" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("DisplayOrder", T[MantleWebLocalizableStrings.General.Order], new { @class = "form-label" })
                                @Html.TextBox("DisplayOrder", null, new { @class = "form-control", data_bind = "value: forumModel.displayOrder" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="forumModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="forumModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>