@using Mantle.Plugins.Widgets.JQueryFormBuilder.ContentBlocks

@model JQueryFormBuilderBlock

@{
    //var captchaSettings = EngineContext.Current.Resolve<CaptchaSettings>();
    string formId = "form-block-" + Model.Id;
}

<form id="@formId" method="post" action="@Url.Action("Save", "FormBlock", new { area = string.Empty })" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ThankYouMessage)
    @Html.HiddenFor(m => m.RedirectUrl)
    @Html.HiddenFor(m => m.EmailAddress)
    @Html.Hidden("ContentBlockTitle", Model.Title)
    <div id="render-wrap"></div>
</form>

<script type="text/javascript" src="/Plugins/Widgets.JQueryFormBuilder/wwwroot/js/form-render.min.js"></script>
<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    $(document).ready(function () {
        $('#render-wrap').formRender({
            formData: @Html.Raw(Model.Metadata)
        });
    });
</script>
@if (Model.UseAjax)
{
    <script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
        $("#@formId").submit(function (e) {
            $.ajax({
                url: "@Url.Action("Save", "FormBlock", new { area = string.Empty })",
                type: "POST",
                data: $('#@formId').serialize()
            })
            .done(function (json) {
                alert(json.Message);

                if (json.Success) {
                    window.location = json.RedirectUrl;
                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText || textStatus + ': ' + errorThrown);
            });

            return false;
        });
    </script>
}