@using Extenso.AspNetCore.Mvc.Html

@model ForumGroupModel

<div class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Default, htmlAttributes: new { @class = "forum-group-panel mb-3" })))
        {
            using (var header = panel.BeginHeader(Html.ActionLink(Model.Name, "ForumGroup", new { id = Model.Id, slug = Model.SeName }).GetString()))
            {
            }
            using (var body = panel.BeginBody())
            {
                <table class="table table-bordered forums-table">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="forum-details" colspan="2">@T[LocalizableStrings.Forum]</th>
                            <th class="topics">@T[LocalizableStrings.Topics]</th>
                            <th class="posts">@T[LocalizableStrings.Posts]</th>
                            <th class="latest-post">@T[LocalizableStrings.LatestPost]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var forum in Model.Forums)
                        {
                            <tr>
                                <td class="forums-icon">
                                    <img src="/Plugins/Messaging.Forums/wwwroot/images/post.png" />
                                </td>
                                <td class="forum-details">
                                    <div class="forum-title">
                                        @Html.ActionLink(forum.Name, "Forum", new { id = forum.Id, slug = forum.SeName })
                                    </div>
                                    <div class="forum-description">
                                        @forum.Description
                                    </div>
                                </td>
                                <td class="topics">@forum.NumTopics</td>
                                <td class="posts">@forum.NumPosts</td>
                                <td class="latest-post">
                                    @await Component.LastPostAsync(forum.LastPostId, true)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>