@using Mantle.Plugins.Messaging.Forums
@using Mantle.Plugins.Messaging.Forums.Data.Domain

@model ForumSettings

<div id="settings-content">
    <div class="mb-3">
        <mantle-input asp-for="ForumsEnabled" asp-label="@T[LocalizableStrings.Settings.ForumsEnabled]" />
        <mantle-input asp-for="RelativeDateTimeFormattingEnabled" asp-label="@T[LocalizableStrings.Settings.RelativeDateTimeFormattingEnabled]" />
        <mantle-input asp-for="AllowUsersToEditPosts" asp-label="@T[LocalizableStrings.Settings.AllowUsersToEditPosts]" />
        <mantle-input asp-for="AllowUsersToManageSubscriptions" asp-label="@T[LocalizableStrings.Settings.AllowUsersToManageSubscriptions]" />
        <mantle-input asp-for="AllowUsersToDeletePosts" asp-label="@T[LocalizableStrings.Settings.AllowUsersToDeletePosts]" />
    </div>

    <mantle-input asp-for="TopicSubjectMaxLength" asp-label="@T[LocalizableStrings.Settings.TopicSubjectMaxLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="StrippedTopicMaxLength" asp-label="@T[LocalizableStrings.Settings.StrippedTopicMaxLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="PostMaxLength" asp-label="@T[LocalizableStrings.Settings.PostMaxLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="TopicsPageSize" asp-label="@T[LocalizableStrings.Settings.TopicsPageSize]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="PostsPageSize" asp-label="@T[LocalizableStrings.Settings.PostsPageSize]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="SearchResultsPageSize" asp-label="@T[LocalizableStrings.Settings.SearchResultsPageSize]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="ActiveDiscussionsPageSize" asp-label="@T[LocalizableStrings.Settings.ActiveDiscussionsPageSize]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="LatestUserPostsPageSize" asp-label="@T[LocalizableStrings.Settings.LatestUserPostsPageSize]" asp-validation-msg="true" type="number" />

    <div class="mb-3">
        <mantle-input asp-for="ShowUsersPostCount" asp-label="@T[LocalizableStrings.Settings.ShowUsersPostCount]" />
    </div>

    <mantle-select asp-for="ForumEditor" asp-items="Html.GetEnumSelectList<EditorType>()" asp-label="@T[LocalizableStrings.Settings.ForumEditor]" asp-validation-msg="true" />

    <div class="mb-3">
        <mantle-input asp-for="SignaturesEnabled" asp-label="@T[LocalizableStrings.Settings.SignaturesEnabled]" />
        <mantle-input asp-for="AllowPrivateMessages" asp-label="@T[LocalizableStrings.Settings.AllowPrivateMessages]" />
        <mantle-input asp-for="ShowAlertForPM" asp-label="@T[LocalizableStrings.Settings.ShowAlertForPM]" />
    </div>

    <mantle-input asp-for="PrivateMessagesPageSize" asp-label="@T[LocalizableStrings.Settings.PrivateMessagesPageSize]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="ForumSubscriptionsPageSize" asp-label="@T[LocalizableStrings.Settings.ForumSubscriptionsPageSize]" asp-validation-msg="true" type="number" />

    <div class="mb-3">
        <mantle-input asp-for="NotifyAboutPrivateMessages" asp-label="@T[LocalizableStrings.Settings.NotifyAboutPrivateMessages]" />
    </div>

    <mantle-input asp-for="PMSubjectMaxLength" asp-label="@T[LocalizableStrings.Settings.PMSubjectMaxLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="PMTextMaxLength" asp-label="@T[LocalizableStrings.Settings.PMTextMaxLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="HomePageActiveDiscussionsTopicCount" asp-label="@T[LocalizableStrings.Settings.HomePageActiveDiscussionsTopicCount]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="ActiveDiscussionsFeedCount" asp-label="@T[LocalizableStrings.Settings.ActiveDiscussionsFeedCount]" asp-validation-msg="true" type="number" />

    <div class="mb-3">
        <mantle-input asp-for="ActiveDiscussionsFeedEnabled" asp-label="@T[LocalizableStrings.Settings.ActiveDiscussionsFeedEnabled]" />
        <mantle-input asp-for="ForumFeedsEnabled" asp-label="@T[LocalizableStrings.Settings.ForumFeedsEnabled]" />
    </div>

    <mantle-input asp-for="ForumFeedCount" asp-label="@T[LocalizableStrings.Settings.ForumFeedCount]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="ForumSearchTermMinimumLength" asp-label="@T[LocalizableStrings.Settings.ForumSearchTermMinimumLength]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="PageTitle" asp-label="@T[LocalizableStrings.Settings.PageTitle]" asp-validation-msg="true" />

    <div class="mb-3">
        <mantle-input asp-for="ShowOnMenus" asp-label="@T[LocalizableStrings.Settings.ShowOnMenus]" />
    </div>

    <mantle-input asp-for="MenuPosition" asp-label="@T[LocalizableStrings.Settings.MenuPosition]" asp-validation-msg="true" type="number" />
    <mantle-input asp-for="LayoutPathOverride" asp-label="@T[LocalizableStrings.Settings.LayoutPathOverride]" asp-validation-msg="true" />

    @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>