@inject Mantle.Web.IWorkContext WorkContext
@inject IEnumerable<IMessageTemplateEditor> messageTemplateEditors

@model MessageTemplate

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("TinyMCE_RootFolder", "Tenant_" + WorkContext.CurrentTenant.Id)

<style type="text/css">
    /*label.radio-img > input {
            visibility: hidden;
            position: absolute;
        }*/

    label.radio-img > img {
        height: 64px;
        max-height: 64px;
    }

    label.radio-img > input + img {
        cursor: pointer;
        border: 2px solid transparent;
    }

    label.radio-img > input:checked + img {
        border: 2px solid #f00;
    }

</style>

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mantle-ko-button state="Primary" ko-click="templateModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
    </div>
    <mantle-grid />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <mantle-input asp-for="Name" asp-label="@T[LocalizableStrings.MessageTemplate.Name]" asp-icon="fa fa-file" ko-bind="templateModel.name" />
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label class="control-label">&nbsp;</label>
                            <mantle-input asp-for="Enabled" asp-label="@T[MantleWebLocalizableStrings.General.Enabled]" asp-icon="fa fa-file" ko-bind="templateModel.enabled" />
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Editor", T[LocalizableStrings.MessageTemplate.Editor], new { @class = "control-label" })
                                <ul class="list-unstyled">
                                    @foreach (var editor in messageTemplateEditors)
                                    {
                                        <li>
                                            <label class="radio-img">
                                                @Html.RadioButton("Editor", editor.Name, htmlAttributes: new { data_bind = "checked: templateModel.editor" })
                                                <img src="@editor.LogoUrl" alt="@editor.Name" class="img-thumbnail" />
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary, htmlAttributes: new { data_bind = "visible: templateModel.inEditMode()" })))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-version-form" role="form">
                    <fieldset>
                        <legend id="form-section-version-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("Subject", T[LocalizableStrings.MessageTemplateVersion.Subject], new { @class = "control-label" })
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-file"></i>
                                    </span>
                                    @Html.TextBox("Subject", null, new { @class = "form-control", data_bind = "value: templateVersionModel.subject" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-10">
                            <div class="form-group">
                                @Html.Label("Data", T[LocalizableStrings.MessageTemplateVersion.Data], new { @class = "control-label" })
                                @Html.TextArea("Data", null, new { @class = "form-control", data_bind = "wysiwyg: templateVersionModel.data, wysiwygConfig: templateVersionModel.tinyMCEConfig" })
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="panel panel-default" style="margin-top:23px">
                                <div class="panel-heading">@T[LocalizableStrings.MessageTemplate.Tokens]</div>
                                <div class="panel-body">
                                    <ul id="tokens-list" class="list-unstyled"></ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group pull-right">
                <mantle-ko-button state="Default" ko-click="templateModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                <mantle-ko-button state="Primary" ko-click="templateModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
            </div>
        </div>
    </article>
</div>

@using (var modal = Html.ExtensoUI().Begin(new Modal("cultureModal")))
{
    using (var header = modal.BeginHeader("Select Language")) { }
    using (var body = modal.BeginBody())
    {
        <form>
            <div class="form-group">
                @Html.Hidden("TemplateIdToLocalize")
                @Html.Mantle().LanguagesDropDownList("CultureCode", includeInvariant: true, htmlAttributes: new { @class = "form-control" })
            </div>
        </form>
    }
    using (var footer = modal.BeginFooter())
    {
        <button type="button" class="btn btn-default" data-dismiss="modal">@T[MantleWebLocalizableStrings.General.Close]</button>
        <mantle-ko-button state="Primary" ko-click="templateModel.onCultureSelected" text="@T[MantleWebLocalizableStrings.General.OK]" />
    }
}