@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Plugins.Widgets.FullCalendar
@using Mantle.Web
@using Mantle.Web.Mvc

@inject Microsoft.Extensions.Localization.IStringLocalizer T

<div id="grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="calendarModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
    </div>
    <mantle-grid />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group">
                                @Html.Label("Name", T[LocalizableStrings.CalendarModel.Name], new { @class = "control-label" })
                                @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: calendarModel.name" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group float-end">
                                <mantle-ko-button state="Default" ko-click="calendarModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="calendarModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="events-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="eventModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="eventModel.goBack" icon="fa fa-arrow-left" text="@T[MantleWebLocalizableStrings.General.Back]" />
    </div>
    <mantle-grid id="EventGrid" />
</div>

<div id="events-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="events-form-section-form" role="form">
                    <fieldset>
                        <legend id="events-form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group">
                                @Html.Label("Event_Name", T[LocalizableStrings.CalendarEventModel.Name], new { @class = "control-label" })
                                @Html.TextBox("Event_Name", null, new { @class = "form-control", data_bind = "value: eventModel.name" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group">
                                @Html.Label("Event_StartDateTime", T[LocalizableStrings.CalendarEventModel.StartDateTime], new { @class = "control-label" })
                                @Html.TextBox("Event_StartDateTime", null, new { data_bind = "value: eventModel.startDateTime" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group">
                                @Html.Label("Event_EndDateTime", T[LocalizableStrings.CalendarEventModel.EndDateTime], new { @class = "control-label" })
                                @Html.TextBox("Event_EndDateTime", null, new { data_bind = "value: eventModel.endDateTime" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group float-end">
                                <mantle-ko-button state="Default" ko-click="eventModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="eventModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>