@using Extenso.AspNetCore.Mvc.ExtensoUI

<div id="change-password-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.Membership.ChangePassword])) { }
            using (var body = panel.BeginBody())
            {
                <form id="change-password-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.Membership.ChangePassword]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group">
                                <label class="control-label">@T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.UserName]</label>
                                <input type="text" class="form-control" readonly="readonly" data-bind="value: changePasswordModel.userName" />
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="form-group">
                                @Html.Label("Change_Password", T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.Password], new { @class = "control-label" })
                                @Html.Password("Change_Password", null, new { @class = "form-control", data_bind = "value: changePasswordModel.password" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="form-group">
                                @Html.Label("Change_ConfirmPassword", T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.ConfirmPassword], new { @class = "control-label" })
                                @Html.Password("Change_ConfirmPassword", null, new { @class = "form-control", data_bind = "value: changePasswordModel.confirmPassword" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="form-group float-end">
                                <mantle-ko-button state="Default" ko-click="changePasswordModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="changePasswordModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>