<div id="role-permissions-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.Membership.EditRolePermissions])) { }
            using (var body = panel.BeginBody())
            {
                <form id="role-permissions-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.Membership.EditRolePermissions]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @*@Html.Label("RolePermissions", "Permissions", new { @class = "form-label" })*@
                                @Html.Mantle().PermissionsCheckBoxList("RolePermissions", null, new { @class = "checkbox" }, new { data_bind = "checked: roleModel.permissions" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="roleModel.editPermissions_cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="roleModel.editPermissions_save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>