@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="users-grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <div class="float-start">
            <mantle-ko-button state="Primary" ko-click="userModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
            <mantle-ko-button state="Default" ko-click="viewRoles" icon="fa fa-users" text="@T[MantleWebLocalizableStrings.Membership.Roles]" />
        </div>
        <div class="float-end">
            @Html.Mantle().RolesDropDownList("RoleFilter", null, new { @class = "form-control", data_bind = "value: userModel.filterRoleId, event: { change: userModel.filterRole }" }, string.Empty)
        </div>
    </div>
    <mantle-grid id="UsersGrid" />
</div>

<div id="users-edit-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="users-edit-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.General.Edit]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="mb-3">
                                @Html.Label("UserName", T[MantleWebLocalizableStrings.Membership.UserModel.UserName], new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    @Html.TextBox("UserName", null, new { @class = "form-control", data_bind = "value: userModel.userName" })
                                </div>
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="mb-3">
                                @Html.Label("Email", T[MantleWebLocalizableStrings.Membership.UserModel.Email], new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    @Html.TextBox("Email", null, new { @class = "form-control", data_bind = "value: userModel.email" })
                                </div>
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.QuarterStrict">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("IsLockedOut", new { data_bind = "checked: userModel.isLockedOut" }) @T[MantleWebLocalizableStrings.Membership.UserModel.IsLockedOut]
                                </label>
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="userModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="userModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="user-roles-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.Membership.UpdateUserRoles])) { }
            using (var body = panel.BeginBody())
            {
                <form id="user-roles-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.Membership.UpdateUserRoles]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("UserRoles", T[MantleWebLocalizableStrings.Membership.UserModel.Roles], new { @class = "form-label" })
                                @Html.Mantle().RolesCheckBoxList("UserRoles", null, new { @class = "checkbox" }, new { data_bind = "checked: userModel.roles" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="userModel.editRoles_cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="userModel.editRoles_save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="change-password-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.Membership.ChangePassword])) { }
            using (var body = panel.BeginBody())
            {
                <form id="change-password-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.Membership.ChangePassword]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                <label class="form-label">@T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.UserName]</label>
                                <input type="text" class="form-control" readonly="readonly" data-bind="value: changePasswordModel.userName" />
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="mb-3">
                                @Html.Label("Change_Password", T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.Password], new { @class = "form-label" })
                                @Html.Password("Change_Password", null, new { @class = "form-control", data_bind = "value: changePasswordModel.password" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Half">
                            <div class="mb-3">
                                @Html.Label("Change_ConfirmPassword", T[MantleWebLocalizableStrings.Membership.ChangePasswordModel.ConfirmPassword], new { @class = "form-label" })
                                @Html.Password("Change_ConfirmPassword", null, new { @class = "form-control", data_bind = "value: changePasswordModel.confirmPassword" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="changePasswordModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="changePasswordModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="roles-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="roleModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="viewUsers" icon="fa fa-user" text="@T[MantleWebLocalizableStrings.Membership.Users]" />
    </div>
    <mantle-grid id="RolesGrid" />
</div>

<div id="roles-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="roles-form-section-form" role="form">
                    <fieldset>
                        <legend id="roles-form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @Html.Label("Name", T[MantleWebLocalizableStrings.Membership.RoleModel.Name], new { @class = "form-label" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: roleModel.name" })
                                </div>
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="roleModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="roleModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="role-permissions-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.Membership.EditRolePermissions])) { }
            using (var body = panel.BeginBody())
            {
                <form id="role-permissions-form-section-form" role="form">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.Membership.EditRolePermissions]</legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3">
                                @*@Html.Label("RolePermissions", "Permissions", new { @class = "form-label" })*@
                                @Html.Mantle().PermissionsCheckBoxList("RolePermissions", null, new { @class = "checkbox" }, new { data_bind = "checked: roleModel.permissions" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="roleModel.editPermissions_cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="roleModel.editPermissions_save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>