@using Breadcrumb = Mantle.Web.Navigation.Breadcrumb
@model IEnumerable<Breadcrumb>

@{
    Layout = null;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })" title="Go to Home">
                <i class="fa fa-home"></i> @T[MantleWebLocalizableStrings.General.Home]
            </a>
            <span class="divider"></span>
        </li>

        @if (!Model.IsNullOrEmpty())
        {
            foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.Url))
                {
                    <li class="breadcrumb-item"><a href="@item.Url"><i class="@item.Icon"></i>@item.Text</a></li>
                }
                else
                {
                    <li class="breadcrumb-item"><i class="@item.Icon"></i>@item.Text</li>
                }
            }
        }
    </ol>
</nav>