@using Extenso.Collections
@using Mantle.Infrastructure
@using Mantle.Web.ContentManagement
@using Mantle.Web.ContentManagement.Areas.Admin.Blog
@using Mantle.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Mantle.Web.Mvc

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject BlogSettings Settings

@model IEnumerable<BlogPost>
@{
    Layout = null;

    foreach (var script in Settings.GetResources(ResourceType.Script, "Bootpag"))
    {
        <script asp-location="Foot" src="@script.Path"></script>
    }

    ViewBag.Title = Settings.PageTitle;

    var userNames = (IDictionary<string, string>)ViewBag.UserNames;
    var tags = (IDictionary<int, string>)ViewBag.Tags;
    var tagUrls = (IDictionary<int, string>)ViewBag.TagUrls;
    int pageCount = ViewBag.PageCount;
    int pageIndex = ViewBag.PageIndex;
}

<div class="blog-container">
    <div id="main-section" class="row blog-section">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            @foreach (var entry in Model)
            {
                string teaserImageUrl = string.IsNullOrEmpty(entry.TeaserImageUrl)
                    ? "http://placehold.it/280x136&text=Image+Missing"
                    : entry.TeaserImageUrl;

                <article class="media blog-teaser">
                    <div class="media-left">
                        <img class="img-responsive" src="@teaserImageUrl" style="width:200px" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading blog-headline">
                            @if (entry.UseExternalLink)
                            {
                                @Html.Link(entry.Headline, entry.ExternalLink, PageTarget.Blank)
                            }
                            else
                            {
                                @Html.ActionLink(entry.Headline, "Details", "BlogContent", new { area = string.Empty, slug = entry.Slug }, null)
                            }
                        </h4>
                        <p>
                            @Html.Raw(string.Format(
                                T[MantleCmsLocalizableStrings.Blog.PostedByXOnX],
                                string.Concat("<strong>", userNames[entry.UserId], "</strong>"),
                                string.Concat("<strong>", entry.DateCreatedUtc, "</strong>")))
                        </p>
                        @if (!entry.Tags.IsNullOrEmpty())
                        {
                            <p>
                                <i class="fa fa-tags"></i>
                                @foreach (var postTag in entry.Tags)
                                {
                                    @Html.ActionLink(
                                        tags[postTag.TagId],
                                        "Tag",
                                        "BlogContent",
                                        new { tagSlug = tagUrls[postTag.TagId] },
                                        new { @class = "badge", style = "margin-right:5px" })
                                }
                            </p>
                        }
                        <p class="blog-short-desc">
                            @entry.ShortDescription
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                </article>
                <div class="clearfix"></div>
            }
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            @await Component.ContentZoneAsync("Blog_Categories")
            <div class="clearfix"></div>
            @await Component.ContentZoneAsync("Blog_Tags")
            <div class="clearfix"></div>
            @await Component.ContentZoneAsync("Blog_LatestPosts")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="pager"></div>
        </div>
    </div>
</div>

<script asp-location="Foot" type="text/javascript">
    $('#pager').bootpag({
        total: @pageCount,
        page: @pageIndex,
        maxVisible: 5,
        leaps: true,
        firstLastUse: true,
    }).on("page", function (event, num) {
        window.location.href = '@Url.Action("Index", "BlogContent", new { area = string.Empty })' + '?pageIndex=' + num;
    });
</script>