@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Web
@using Mantle.Web.Areas.Admin.Plugins.Models
@using Mantle.Web.Mvc
@using Mantle.Web.Mvc.Razor
@using WebEnumExtensions = Mantle.Web.EnumExtensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Mantle.Web

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings

@model EdmPluginDescriptor

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <mantle-grid />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mantle-input asp-for="FriendlyName" asp-label="@T[MantleWebLocalizableStrings.Plugins.Model.FriendlyName]" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mantle-input asp-for="DisplayOrder" asp-label="@T[MantleWebLocalizableStrings.Plugins.Model.DisplayOrder]" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.Label("LimitedToTenants", T[MantleWebLocalizableStrings.Plugins.Model.LimitedToTenants], new { @class = "control-label" })
                                @Html.Mantle().TenantsCheckBoxList("LimitedToTenants", null, new { @class = "checkbox" }, new { data_bind = "checked: limitedToTenants" })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <mantle-ko-button state="Default" ko-click="cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>