@model StandardPage

<div id="fields-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-input asp-for="MetaTitle" asp-label="@T[MantleCmsLocalizableStrings.Pages.PageTypes.StandardPage.MetaTitle]" ko-bind="pageVersionModel.metaTitle" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-input asp-for="MetaKeywords" asp-label="@T[MantleCmsLocalizableStrings.Pages.PageTypes.StandardPage.MetaKeywords]" ko-bind="pageVersionModel.metaKeywords" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-input asp-for="MetaDescription" asp-label="@T[MantleCmsLocalizableStrings.Pages.PageTypes.StandardPage.MetaDescription]" ko-bind="pageVersionModel.metaDescription" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <div class="mb-3">
            @Html.Label("BodyContent", T[MantleCmsLocalizableStrings.Pages.PageTypes.StandardPage.BodyContent], new { @class = "form-label" })
            @Html.TextArea("BodyContent", null, new { @class = "form-control", data_bind = "wysiwyg: pageVersionModel.bodyContent, wysiwygConfig: pageVersionModel.tinyMCE_bodyContent" })
        </div>
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    const pageModel = (function () {
        const f = {};
        f.updateModel = function (pageVersionModel) {
            pageVersionModel.metaTitle = ko.observable("");
            pageVersionModel.metaKeywords = ko.observable("");
            pageVersionModel.metaDescription = ko.observable("");
            pageVersionModel.bodyContent = ko.observable("");

            const data = ko.mapping.fromJSON(pageVersionModel.fields());

            if (data) {
                if (data.MetaTitle) {
                    pageVersionModel.metaTitle(data.MetaTitle());
                }
                if (data.MetaKeywords) {
                    pageVersionModel.metaKeywords(data.MetaKeywords());
                }
                if (data.MetaDescription) {
                    pageVersionModel.metaDescription(data.MetaDescription());
                }
                if (data.BodyContent) {
                    pageVersionModel.bodyContent(data.BodyContent());
                }
            }

            pageVersionModel.tinyMCE_bodyContent = mantleAdvancedTinyMCEConfig;
        };
        f.cleanUp = function (pageVersionModel) {
            delete pageVersionModel.metaTitle;
            delete pageVersionModel.metaKeywords;
            delete pageVersionModel.metaDescription;
            delete pageVersionModel.bodyContent;
            delete pageVersionModel.tinyMCE_bodyContent;
        };
        f.onBeforeSave = function (pageVersionModel) {
            const data = {
                MetaTitle: pageVersionModel.metaTitle(),
                MetaKeywords: pageVersionModel.metaKeywords(),
                MetaDescription: pageVersionModel.metaDescription(),
                BodyContent: pageVersionModel.bodyContent()
            };
            pageVersionModel.fields(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>