@model FormBlock

@{
    string textAlign = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "right" : "left";
}

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-textarea asp-for="HtmlTemplate"
                         asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.HtmlTemplate]"
                         asp-richtext="true"
                         ko-bind="blockModel.htmlTemplate"
                         ko-richtext-config="blockModel.tinyMCEConfig" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-textarea asp-for="ThankYouMessage"
                         asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.ThankYouMessage]"
                         asp-richtext="true"
                         ko-bind="blockModel.thankYouMessage"
                         ko-richtext-config="blockModel.tinyMCEConfig" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-input asp-for="FormUrl" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.FormUrl]" ko-bind="blockModel.formUrl" asp-help="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.HelpText.FormUrl]" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <div class="mb-3">
            @Html.LabelFor(m => m.RedirectUrl, new { @class = "form-label", style = "text-align:" + textAlign + ";" })
            @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "form-control", data_bind = "value: blockModel.redirectUrl" })
        </div>
        <div class="mb-3">
            <label></label>
            <mantle-input asp-for="UseAjax" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.UseAjax]" ko-bind="blockModel.useAjax" />
        </div>
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-input asp-for="EmailAddress"
            asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.EmailAddress]"
            ko-bind="blockModel.emailAddress"
            asp-help="@T[MantleCmsLocalizableStrings.ContentBlocks.FormBlock.HelpText.EmailAddress]" />
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    function stripHTML(html) {
        return $("<div/>").html(html).text();
    };

    @Model.RenderKOScript()
</script>