@inject Mantle.Web.IWorkContext WorkContext

@*<link type="text/css" rel="stylesheet" href="@Style.GetBundleUrl("third-party/fg-menu")" />*@

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("DefaultFrontendLayoutPath", MantleWebConstants.DefaultFrontendLayoutPath)
@Html.Hidden("TinyMCE_RootFolder", "Tenant_" + WorkContext.CurrentTenant.Id)

<div id="page-grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Primary" ko-click="pageModel.create.bind($data,null)" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Info" ko-click="pageModel.showPageTypes" icon="fa fa-crop" text="@T[MantleCmsLocalizableStrings.Pages.PageTypes.Title]" />
    </div>
    <mantle-grid id="PageGrid" />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleCmsLocalizableStrings.Pages.Page])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="row">
                            @*<div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3">
                                    <div id="drilldown-wrapper">
                                    <a id="drilldown" tabindex="0" href="#drilldown-items" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all">
                                    <span class="ui-icon ui-icon-triangle-1-s"></span>Parent Page
                                    </a>
                                    <div id="drilldown-items" class="hidden">
                                    <ul data-bind="template: { name: 'drilldown-template', foreach: pageModel.allPages }"></ul>
                                    </div>
                                    </div>
                                </div>
                            </div>*@
                            <div id="form-section-pageTypeId" class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3">
                                    @Html.Label("PageTypeId", T[MantleCmsLocalizableStrings.Pages.PageModel.PageTypeId], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-crop"></i>
                                        </span>
                                        @Html.MantleCMS().PageTypesDropDownList("PageTypeId", null, null, new { @class = "form-control", data_bind = "value: pageModel.pageTypeId" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Name", T[MantleCmsLocalizableStrings.Pages.PageModel.Name], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: pageModel.name" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Order", T[MantleCmsLocalizableStrings.Pages.PageModel.Order], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-sort-numeric-asc"></i>
                                        </span>
                                        @Html.TextBox("Order", null, new { @class = "form-control", data_bind = "value: pageModel.order" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Roles", T[MantleCmsLocalizableStrings.Pages.PageModel.Roles], new { @class = "form-label" })
                                    @Html.Mantle().RolesCheckBoxList("Roles", null, new { @class = "checkbox" }, new { data_bind = "checked: pageModel.roles" })
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Third">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("IsEnabled", new { data_bind = "checked: pageModel.isEnabled" }) @T[MantleCmsLocalizableStrings.Pages.PageModel.IsEnabled]
                                    </label>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Third">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("ShowOnMenus", new { data_bind = "checked: pageModel.showOnMenus" }) @T[MantleCmsLocalizableStrings.Pages.PageModel.ShowOnMenus]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary, htmlAttributes: new { data_bind = "visible: pageModel.inEditMode()" })))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-version-form">
                    <fieldset>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Version_Title", T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Title], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Version_Title", null, new { @class = "form-control", data_bind = "value: pageVersionModel.title" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Version_Slug", T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Slug], new { @class = "form-label" })
                                    @Html.TextBox("Version_Slug", null, new { @class = "form-control", data_bind = "value: pageVersionModel.slug" })
                                </div>
                            </div>

                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBox("Version_IsDraft", new { data_bind = "checked: pageVersionModel.isDraft" }) @T[MantleCmsLocalizableStrings.Pages.PageVersionModel.IsDraft]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="fields-definition"></fieldset>
                </form>
            }
        }
        <div class="@MantleWebConstants.AdminCss.Columns.Full">
            <div class="mb-3 float-end">
                <mantle-ko-button state="Default" ko-click="pageModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                <mantle-ko-button state="Primary" ko-click="pageModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
            </div>
        </div>
    </article>
</div>

<div id="version-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Default" ko-click="pageVersionModel.goBack" icon="fa fa-arrow-left" text="@T[MantleWebLocalizableStrings.General.Back]" />
    </div>
    <mantle-grid id="PageVersionGrid" />
</div>

<div id="version-details-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Title]</th>
                            <td><span data-bind="html: pageVersionModel.title"></span></td>
                        </tr>
                        <tr>
                            <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Slug]</th>
                            <td><span data-bind="html: pageVersionModel.slug"></span></td>
                        </tr>
                        <tr>
                            <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.CultureCode]</th>
                            <td><span data-bind="html: pageVersionModel.cultureCode"></span></td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </article>
</div>

<div id="page-type-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-ko-button state="Default" ko-click="pageTypeModel.goBack" icon="fa fa-arrow-left" text="@T[MantleWebLocalizableStrings.General.Back]" />
    </div>
    <mantle-grid id="PageTypesGrid" />
</div>

<div id="page-type-form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="page-type-form-section-form" role="form">
                    <fieldset>
                        <legend id="page-type-form-section-legend"></legend>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Third">
                                <div class="mb-3">
                                    @Html.Label("PageType_Name", T[MantleCmsLocalizableStrings.Pages.PageTypeModel.Name], new { @class = "form-label" })
                                    <p class="form-control-static" data-bind="text: pageTypeModel.name"></p>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3">
                                    @Html.Label("PageType_LayoutPath", T[MantleCmsLocalizableStrings.Pages.PageTypeModel.LayoutPath], new { @class = "form-label" })
                                    @Html.TextBox("PageType_LayoutPath", null, new { @class = "form-control", data_bind = "value: pageTypeModel.layoutPath" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="pageTypeModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="pageTypeModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </article>
</div>

<div class="modal fade" id="parentPageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Parent Page</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        @Html.Hidden("PageIdToMove")
                        @Html.Label("ParentId", "Parent", new { @class = "form-label" })
                        <select id="ParentId" class="form-control">
                            <option value="" selected="selected">[Root]</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T[MantleWebLocalizableStrings.General.Close]</button>
                <mantle-ko-button state="Primary" ko-click="pageModel.onParentSelected" text="@T[MantleWebLocalizableStrings.General.OK]" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cultureModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select Language</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        @Html.Hidden("PageIdToLocalize")
                        @Html.Mantle().LanguagesDropDownList("CultureCode", includeInvariant: true, htmlAttributes: new { @class = "form-control" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@T[MantleWebLocalizableStrings.General.Close]</button>
                <mantle-ko-button state="Primary" ko-click="pageModel.onCultureSelected" text="@T[MantleWebLocalizableStrings.General.OK]" />
            </div>
        </div>
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/x-kendo-template" id="pages-template">
    <div class="detail-grid" id="page-grid-#=Id#"></div>
</script>