@using Mantle.Web
@using Mantle.Web.ContentManagement
@using Mantle.Web.Mvc
@using Mantle.Web.Mvc.MantleUI

@inject Microsoft.Extensions.Localization.IStringLocalizer T
@inject Mantle.Web.Configuration.SiteSettings SiteSettings
@inject Mantle.Web.IWorkContext WorkContext

@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    @Html.Hidden("TinyMCE_RootFolder", "Tenant_" + WorkContext.CurrentTenant.Id)

    <div id="page-grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="pageModel.create(null)" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                @T[MantleWebLocalizableStrings.General.Create]
            </button>
            <button type="button" click.delegate="pageModel.showPageTypes()" class="btn btn-info">
                <i class="fa fa-crop"></i>
                @T[MantleCmsLocalizableStrings.Pages.PageTypes.Title]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="page-grid"></div>
        </div>
    </div>

    <div id="form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[MantleCmsLocalizableStrings.Pages.Page])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="form-section-form" role="form">
                        <fieldset>
                            <legend id="form-section-legend"></legend>
                            <div id="form-section-pageTypeId" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.Label("PageTypeId", T[MantleCmsLocalizableStrings.Pages.PageModel.PageTypeId], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-crop"></i>
                                        </span>
                                        @*@Html.MantleCMS().PageTypesDropDownList(
                                            "PageTypeId",
                                            emptyText: "Select",
                                            htmlAttributes: new Dictionary<string, object>
                                            {
                                                { "class", "form-control" },
                                                { "value.bind", "pageModel.pageTypeId" }
                                            })*@

                                        <select class="form-control" id="PageTypeId" name="PageTypeId" value.bind="pageModel.pageTypeId">
                                            <option value="">@T[MantleWebLocalizableStrings.General.SelectOption]</option>
                                            <option repeat.for="option of pageTypes" value.bind="option.value">${option.label}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Name", T[MantleCmsLocalizableStrings.Pages.PageModel.Name], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <input type="text" id="Name" name="Name" class="form-control" value.bind="pageModel.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Order", T[MantleCmsLocalizableStrings.Pages.PageModel.Order], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sort-numeric-asc"></i>
                                        </span>
                                        <input type="text" id="Order" name="Order" class="form-control" value.bind="pageModel.order" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Roles", T[MantleCmsLocalizableStrings.Pages.PageModel.Roles], new { @class = "control-label" })
                                    @Html.Mantle().RolesCheckBoxList(
                                        "Roles",
                                        null,
                                        new { @class = "checkbox" },
                                        new Dictionary<string, object>
                                        {
                                            { "checked.bind", "pageModel.roles" }
                                        })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="IsEnabled" name="IsEnabled" checked.bind="pageModel.isEnabled" /> @T[MantleCmsLocalizableStrings.Pages.PageModel.IsEnabled]
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="ShowOnMenus" name="ShowOnMenus" checked.bind="pageModel.showOnMenus" /> @T[MantleCmsLocalizableStrings.Pages.PageModel.ShowOnMenus]
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
            @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary, htmlAttributes: new Dictionary<string, object> { { "show.bind", "pageModel.inEditMode" } })))
            {
                using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="form-section-version-form">
                        <fieldset>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Version_Title", T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Title], new { @class = "control-label" })
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        <input type="text" id="Version_Title" name="Version_Title" class="form-control" value.bind="pageVersionModel.title" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Version_Slug", T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Slug], new { @class = "control-label" })
                                    <input type="text" id="Version_Slug" name="Version_Slug" class="form-control" value.bind="pageVersionModel.slug" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Version_IsDraft" name="Version_IsDraft" checked.bind="pageVersionModel.isDraft" /> @T[MantleCmsLocalizableStrings.Pages.PageVersionModel.IsDraft]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="fields-definition"></fieldset>
                    </form>
                }
            }
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-default" click.delegate="pageModel.cancel()">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                    <button type="button" class="btn btn-primary" click.delegate="pageModel.save()"><i class="fa fa-save"></i> @T[MantleWebLocalizableStrings.General.Save]</button>
                </div>
            </div>
        </article>
    </div>

    <div id="version-grid-section" class="row" style="display:none">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="pageVersionModel.goBack()" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                @T[MantleWebLocalizableStrings.General.Back]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="page-version-grid"></div>
        </div>
    </div>

    <div id="version-details-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <table class="table table-bordered table-striped table-condensed">
                        <tbody>
                            <tr>
                                <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Title]</th>
                                <td>${pageVersionModel.title}</td>
                            </tr>
                            <tr>
                                <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.Slug]</th>
                                <td>${pageVersionModel.slug}</td>
                            </tr>
                            <tr>
                                <th>@T[MantleCmsLocalizableStrings.Pages.PageVersionModel.CultureCode]</th>
                                <td>${pageVersionModel.cultureCode}</td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </article>
    </div>

    <div id="page-type-grid-section" class="row" style="display:none">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" click.delegate="pageTypeModel.goBack()" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                @T[MantleWebLocalizableStrings.General.Back]
            </button>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="page-types-grid"></div>
        </div>
    </div>

    <div id="page-type-form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="page-type-form-section-form" role="form">
                        <fieldset>
                            <legend id="page-type-form-section-legend"></legend>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.Label("PageType_Name", T[MantleCmsLocalizableStrings.Pages.PageTypeModel.Name], new { @class = "control-label" })
                                    <p class="form-control-static">${pageTypeModel.name}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    @Html.Label("PageType_LayoutPath", T[MantleCmsLocalizableStrings.Pages.PageTypeModel.LayoutPath], new { @class = "control-label" })
                                    <input type="text" id="PageType_LayoutPath" name="PageType_LayoutPath" class="form-control" value.bind="pageTypeModel.layoutPath" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-default" click.delegate="pageTypeModel.cancel()">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                                <button type="button" class="btn btn-primary" click.delegate="pageTypeModel.save()"><i class="fa fa-save"></i> @T[MantleWebLocalizableStrings.General.Save]</button>
                            </div>
                        </div>
                    </form>
                }
            }
        </article>
    </div>

    <div class="modal fade" id="parentPageModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Parent Page</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            @Html.Hidden("PageIdToMove")
                            @Html.Label("ParentId", "Parent", new { @class = "control-label" })
                            <select id="ParentId" class="form-control">
                                <option value="" selected="selected">[Root]</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@T[MantleWebLocalizableStrings.General.Close]</button>
                    <button type="button" class="btn btn-primary" click.delegate="pageModel.onParentSelected()">@T[MantleWebLocalizableStrings.General.OK]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cultureModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Language</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            @Html.Hidden("PageIdToLocalize")
                            @Html.Mantle().LanguagesDropDownList("CultureCode", includeInvariant: true, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@T[MantleWebLocalizableStrings.General.Close]</button>
                    <button type="button" class="btn btn-primary" click.delegate="pageModel.onCultureSelected()">@T[MantleWebLocalizableStrings.General.OK]</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-kendo-template" id="pages-template">
        <div class="detail-grid" id="page-grid-#=Id#"></div>
    </script>
</template>