@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Plugins.Widgets.JQueryFormBuilder
@using Mantle.Plugins.Widgets.JQueryFormBuilder.ContentBlocks
@using Mantle.Web.Mvc
@model JQueryFormBuilderBlock

@inject Microsoft.Extensions.Localization.IStringLocalizer T

<div id="block-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.ExtensoUI().Begin(new Panel()))
        {
            using (var header = panel.BeginHeader("Form Builder"))
            {
            }
            using (var body = panel.BeginBody())
            {
                <div id="build-wrap"></div>
            }
        }
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @Html.LabelFor(m => m.ThankYouMessage, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.ThankYouMessage, new { @class = "form-control", data_bind = "wysiwyg: blockModel.thankYouMessage, wysiwygConfig: blockModel.tinyMCEConfig" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mantle-input asp-for="RedirectUrl" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.RedirectUrl]" ko-bind="blockModel.redirectUrl" />
        <div class="form-group">
            <label class="col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <mantle-input asp-for="UseAjax" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.UseAjax]" ko-bind="blockModel.useAjax" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mantle-input asp-for="EmailAddress" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.EmailAddress]" ko-bind="blockModel.emailAddress" />
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript" src="/Plugins/Widgets.JQueryFormBuilder/Scripts/form-builder.min.js"></script>
<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    function stripHTML(html) {
        return $("<div/>").html(html).text();
    };

    const contentBlockModel = (function () {
        const f = {};
        f.updateModel = function (blockModel) {
            blockModel.metadata = ko.observable("");
            blockModel.thankYouMessage = ko.observable("");
            blockModel.redirectUrl = ko.observable("");
            blockModel.emailAddress = ko.observable("");
            blockModel.useAjax = ko.observable(false);

            const data = ko.mapping.fromJSON(blockModel.blockValues());

            const fbEditor = document.getElementById('build-wrap');
            blockModel.formBuilder = $(fbEditor).formBuilder({ showActionButtons: false });

            if (data) {
                if (data.Metadata) {
                    const metadata = data.Metadata();
                    blockModel.metadata(metadata);

                    blockModel.formBuilder.promise.then(function (fb) {
                        fb.actions.setData(metadata);
                    });
                }
                if (data.ThankYouMessage) { blockModel.thankYouMessage(data.ThankYouMessage()); }
                if (data.RedirectUrl) { blockModel.redirectUrl(data.RedirectUrl()); }
                if (data.EmailAddress) { blockModel.emailAddress(data.EmailAddress()); }
                if (data.UseAjax) { blockModel.useAjax(data.UseAjax()); }
            }

            blockModel.tinyMCEConfig = mantleDefaultTinyMCEConfig;
        };
        @Model.RenderKOCleanUpFunction(Model.GetBlockProperties())
        f.onBeforeSave = function (blockModel) {
            const fbEditor = document.getElementById('build-wrap');
            const fbMetadata = blockModel.formBuilder.actions.getData('json', true);

            blockModel.metadata(fbMetadata);

            let thankYouMessage = blockModel.thankYouMessage();
            if (blockModel.useAjax()) {
                thankYouMessage = stripHTML(thankYouMessage);
            }

            const data = {
                Metadata: blockModel.metadata(),
                ThankYouMessage: thankYouMessage,
                RedirectUrl: blockModel.redirectUrl(),
                EmailAddress: blockModel.emailAddress(),
                UseAjax: blockModel.useAjax()
            };

            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>