@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Plugins.Widgets.JQueryFormBuilder
@using Mantle.Plugins.Widgets.JQueryFormBuilder.ContentBlocks
@using Mantle.Web.Mvc
@model JQueryFormBuilderBlock

@inject Microsoft.Extensions.Localization.IStringLocalizer T

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel()))
        {
            using (var header = panel.BeginHeader("Form Builder"))
            {
            }
            using (var body = panel.BeginBody())
            {
                <div id="build-wrap"></div>
            }
        }
    </div>

    <div class="@MantleWebConstants.AdminCss.Columns.Full">
        <mantle-textarea asp-for="ThankYouMessage"
                         asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.ThankYouMessage]"
                         asp-richtext="true"
                         ko-bind="blockModel.thankYouMessage"
                         ko-richtext-config="blockModel.tinyMCEConfig" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-input asp-for="RedirectUrl" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.RedirectUrl]" ko-bind="blockModel.redirectUrl" />
        <div class="mb-3">
            <mantle-input asp-for="UseAjax" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.UseAjax]" ko-bind="blockModel.useAjax" />
        </div>
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-input asp-for="EmailAddress" asp-label="@T[LocalizableStrings.ContentBlocks.FormBuilderBlock.EmailAddress]" ko-bind="blockModel.emailAddress" />
    </div>
</div>

@* Currently broken... *@

@*<script asp-location="None" asp-exclude-from-bundle="true" src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
<script asp-location="None" asp-exclude-from-bundle="true" src="https://cdn.jsdelivr.net/npm/jquery-ui-sortable@1.0.0/jquery-ui.min.js" integrity="sha256-OL+GlU8f2jyU8dw1jdx0me415Jjs6KHVi0QM0VawPlo=" crossorigin="anonymous"></script>
<script asp-location="None" asp-exclude-from-bundle="true" src="https://cdn.jsdelivr.net/npm/formBuilder@3.8.3/dist/form-builder.min.js" integrity="sha256-lsMOgE9I+PBVYWOPvGt6lKgLstuB/gIIfDk/Eqs7GVY=" crossorigin="anonymous"></script>*@
@*<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript" src="/Plugins/Widgets.JQueryFormBuilder/wwwroot/js/form-builder.min.js"></script>*@
<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    function stripHTML(html) {
        return $("<div/>").html(html).text();
    };

    contentBlockModel = (function () {
        const f = {};
        f.updateModel = function (blockModel) {
            blockModel.metadata = ko.observable("");
            blockModel.thankYouMessage = ko.observable("");
            blockModel.redirectUrl = ko.observable("");
            blockModel.emailAddress = ko.observable("");
            blockModel.useAjax = ko.observable(false);

            const data = ko.mapping.fromJSON(blockModel.blockValues());

            const fbEditor = document.getElementById('build-wrap');
            blockModel.formBuilder = $(fbEditor).formBuilder({ showActionButtons: false });

            if (data) {
                if (data.Metadata) {
                    const metadata = data.Metadata();
                    blockModel.metadata(metadata);

                    blockModel.formBuilder.promise.then(function (fb) {
                        fb.actions.setData(metadata);
                    });
                }
                if (data.ThankYouMessage) { blockModel.thankYouMessage(data.ThankYouMessage()); }
                if (data.RedirectUrl) { blockModel.redirectUrl(data.RedirectUrl()); }
                if (data.EmailAddress) { blockModel.emailAddress(data.EmailAddress()); }
                if (data.UseAjax) { blockModel.useAjax(data.UseAjax()); }
            }

            blockModel.tinyMCEConfig = mantleDefaultTinyMCEConfig;
        };
        @Html.Raw(Model.RenderKOCleanUpFunction(Model.GetBlockProperties()))
        f.onBeforeSave = function (blockModel) {
            const fbEditor = document.getElementById('build-wrap');
            const fbMetadata = blockModel.formBuilder.actions.getData('json', true);

            blockModel.metadata(fbMetadata);

            let thankYouMessage = blockModel.thankYouMessage();
            if (blockModel.useAjax()) {
                thankYouMessage = stripHTML(thankYouMessage);
            }

            const data = {
                Metadata: blockModel.metadata(),
                ThankYouMessage: thankYouMessage,
                RedirectUrl: blockModel.redirectUrl(),
                EmailAddress: blockModel.emailAddress(),
                UseAjax: blockModel.useAjax()
            };

            blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>