@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Mantle.Plugins.Widgets.FullCalendar
@using Mantle.Plugins.Widgets.FullCalendar.ContentBlocks
@using Mantle.Web.Mvc

@inject Microsoft.Extensions.Localization.IStringLocalizer T

@model FullCalendarBlock

<div id="block-content">
    @using (var tabs = Html.ExtensoUI().Begin(new Tabs()))
    {
        tabs.Tab(T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EditorTabs.General], "General");
        tabs.Tab(T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EditorTabs.AgendaOptions], "AgendaOptions");
        tabs.Tab(T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EditorTabs.Selection], "Selection");
        tabs.Tab(T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EditorTabs.EventRendering], "EventRendering");

        using (var panel = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-select asp-for="CalendarId"
                               asp-items="Html.FullCalendar().GetCalendarSelectList()"
                               asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.CalendarId]"
                               ko-bind="blockModel.calendarId" />
                <mantle-select asp-for="FirstDay"
                               asp-items="Html.GetEnumSelectList<DayOfWeek>()"
                               asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.FirstDay]"
                               ko-bind="blockModel.firstDay" />
                <mantle-input asp-for="AspectRatio" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.AspectRatio]" ko-bind="blockModel.aspectRatio" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    <label></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <mantle-input asp-for="Theme" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.Theme]" ko-bind="blockModel.theme" />
                        <mantle-input asp-for="Weekends" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.Weekends]" ko-bind="blockModel.weekends" />
                        <mantle-input asp-for="FixedWeekCount" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.FixedWeekCount]" ko-bind="blockModel.fixedWeekCount" />
                        <mantle-input asp-for="WeekNumbers" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.WeekNumbers]" ko-bind="blockModel.weekNumbers" />
                        <mantle-input asp-for="HandleWindowResize" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.HandleWindowResize]" ko-bind="blockModel.handleWindowResize" />
                    </div>
                </div>
            </div>
        }
        using (var panel = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    <label></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <mantle-input asp-for="SlotEventOverlap" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.SlotEventOverlap]" ko-bind="blockModel.slotEventOverlap" />
                        <mantle-input asp-for="AllDaySlot" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.AllDaySlot]" ko-bind="blockModel.allDaySlot" />
                    </div>
                </div>
                <mantle-input asp-for="AllDayText" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.AllDayText]" ko-bind="blockModel.allDayText" />
                <mantle-input asp-for="SlotDuration" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.SlotDuration]" ko-bind="blockModel.slotDuration" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="ScrollTime" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.ScrollTime]" ko-bind="blockModel.scrollTime" />
                <mantle-input asp-for="MinTime" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.MinTime]" ko-bind="blockModel.minTime" />
                <mantle-input asp-for="MaxTime" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.MaxTime]" ko-bind="blockModel.maxTime" />
            </div>
        }
        using (var panel = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <div class="mb-3">
                    <label></label>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                        <mantle-input asp-for="Selectable" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.Selectable]" ko-bind="blockModel.selectable" />
                        <mantle-input asp-for="UnselectAuto" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.UnselectAuto]" ko-bind="blockModel.unselectAuto" />
                        <mantle-input asp-for="SelectOverlap" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.SelectOverlap]" ko-bind="blockModel.selectOverlap" />
                    </div>
                </div>
            </div>
        }
        using (var panel = tabs.BeginPanel())
        {
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="EventColor" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EventColor]" ko-bind="blockModel.eventColor" />
                <mantle-input asp-for="EventBackgroundColor" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EventBackgroundColor]" ko-bind="blockModel.eventBackgroundColor" />
                <mantle-input asp-for="EventBorderColor" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EventBorderColor]" ko-bind="blockModel.eventBorderColor" />
            </div>
            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                <mantle-input asp-for="EventTextColor" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.EventTextColor]" ko-bind="blockModel.eventTextColor" />
                <mantle-input asp-for="NextDayThreshold" asp-label="@T[LocalizableStrings.ContentBlocks.FullCalendarBlock.NextDayThreshold]" ko-bind="blockModel.nextDayThreshold" />
            </div>
        }
    }
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>