@inject Mantle.Web.IWorkContext WorkContext

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("TinyMCE_RootFolder", "Tenant_" + WorkContext.CurrentTenant.Id)

<div id="grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Primary" ko-click="blockModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="showZones" text="@T[MantleCmsLocalizableStrings.ContentBlocks.Zones]" />
    </div>
    <mantle-grid />
</div>

<div id="create-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="create-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.General.Create]</legend>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Create_Title", T[MantleCmsLocalizableStrings.ContentBlocks.Model.Title], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Create_Title", null, new { @class = "form-control", data_bind = "value: blockModel.title" })
                                    </div>
                                </div>
                                <mantle-select asp-for-name="Create_BlockType"
                                               asp-items="Html.MantleCMS().GetContentBlockTypesSelectList()"
                                               asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.Model.BlockType]"
                                               ko-bind="blockModel.blockType" />
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Create_Order", T[MantleCmsLocalizableStrings.ContentBlocks.Model.Order], new { @class = "form-label" })
                                    @Html.TextBox("Create_Order", null, new { @class = "form-control", data_bind = "value: blockModel.order" })
                                </div>
                                <mantle-select asp-for-name="Create_ZoneId"
                                               asp-items="Html.MantleCMS().GetZonesSelectList()"
                                               asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.Model.ZoneId]"
                                               ko-bind="blockModel.zoneId" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3 float-end">
                                    <mantle-ko-button state="Default" ko-click="blockModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                    <mantle-ko-button state="Primary" ko-click="blockModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="edit-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="edit-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <legend>@T[MantleWebLocalizableStrings.General.Edit]</legend>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Title", T[MantleCmsLocalizableStrings.ContentBlocks.Model.Title], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Title", null, new { @class = "form-control", data_bind = "value: blockModel.title" })
                                    </div>
                                </div>
                                <div class="mb-3">
                                    @Html.Label("CustomTemplatePath", T[MantleCmsLocalizableStrings.ContentBlocks.Model.CustomTemplatePath], new { @class = "form-label" })
                                    @Html.TextBox("CustomTemplatePath", null, new { @class = "form-control", data_bind = "value: blockModel.customTemplatePath" })
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Order", T[MantleCmsLocalizableStrings.ContentBlocks.Model.Order], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-sort-numeric-asc"></i>
                                        </span>
                                        @Html.TextBox("Order", null, new { @class = "form-control", data_bind = "value: blockModel.order" })
                                    </div>
                                </div>
                                <mantle-select asp-for-name="ZoneId"
                                               asp-items="Html.MantleCMS().GetZonesSelectList()"
                                               asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.Model.ZoneId]"
                                               ko-bind="blockModel.zoneId" />
                                <div class="mb-3">
                                    <label></label>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBox("IsEnabled", new { data_bind = "checked: blockModel.isEnabled" }) @T[MantleCmsLocalizableStrings.ContentBlocks.Model.IsEnabled]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <fieldset id="block-details"></fieldset>
                    </div>

                    <div class="row">
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="blockModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="blockModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </article>
</div>

<div id="zones-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Primary" ko-click="zoneModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="showBlocks" icon="fa fa-th-large" text="@T[MantleCmsLocalizableStrings.ContentBlocks.Title]" />
    </div>
    <mantle-grid id="ZoneGrid" />
</div>

<div id="zones-edit-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="zone-edit-section-form" role="form">
                    <fieldset>
                        <legend id="zone-edit-section-legend"></legend>
                        <div class="mb-3">
                            @Html.Label("Zone_Name", T[MantleCmsLocalizableStrings.ContentBlocks.ZoneModel.Name], new { @class = "form-label" })
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-file"></i>
                                </span>
                                @Html.TextBox("Zone_Name", null, new { @class = "form-control", data_bind = "value: zoneModel.name" })
                            </div>
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="zoneModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="zoneModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

@using (var modal = Html.ExtensoUI().Begin(new Modal("cultureModal")))
{
    using (var header = modal.BeginHeader("Select Language")) { }
    using (var body = modal.BeginBody())
    {
        <form>
            <div class="mb-3">
                @Html.Hidden("SelectedId")
                @Html.Mantle().LanguagesDropDownList("CultureCode", includeInvariant: true, htmlAttributes: new { @class = "form-control" })
            </div>
        </form>
    }
    using (var footer = modal.BeginFooter())
    {
        footer.ModalCloseButton("cultureModal", T[MantleWebLocalizableStrings.General.Close]);
        <mantle-ko-button state="Primary" ko-click="blockModel.onCultureSelected" text="@T[MantleWebLocalizableStrings.General.OK]" />
    }
}