@removeTagHelper Mantle.Web.Mvc.Razor.TagHelpers.MantleScriptTagHelper, Mantle.Web
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.ScriptTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers

@model Menu

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Primary" ko-click="menuModel.create" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
    </div>
    <mantle-grid />
</div>

<div id="form-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <mantle-input asp-for="Name" asp-label="@T[MantleCmsLocalizableStrings.Menus.MenuModel.Name]" asp-icon="fa fa-file" ko-bind="menuModel.name" />
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <mantle-input asp-for="UrlFilter" asp-label="@T[MantleCmsLocalizableStrings.Menus.MenuModel.UrlFilter]" asp-icon="fa fa-filter" ko-bind="menuModel.urlFilter" />
                        </div>
                        <div class="@MantleWebConstants.AdminCss.Columns.Full">
                            <div class="mb-3 float-end">
                                <mantle-ko-button state="Default" ko-click="menuModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                <mantle-ko-button state="Primary" ko-click="menuModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<div id="items-grid-section" class="row" style="display:none">
    <div class="@MantleWebConstants.AdminCss.Columns.Full mb-3">
        <mantle-ko-button state="Primary" ko-click="menuItemModel.create.bind($data,menuModel.id(), null)" icon="fa fa-plus" text="@T[MantleWebLocalizableStrings.General.Create]" />
        <mantle-ko-button state="Default" ko-click="menuItemModel.goBack" icon="fa fa-arrow-left" text="@T[MantleWebLocalizableStrings.General.Back]" />
    </div>
    <mantle-grid id="ItemsGrid" />
</div>

<div id="items-edit-section" class="row" style="display:none">
    <article class="@MantleWebConstants.AdminCss.Columns.Full">
        @using (var panel = Html.ExtensoUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="item-edit-section-form" role="form">
                    <fieldset>
                        <legend id="item-edit-section-legend"></legend>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Item_Text", T[MantleCmsLocalizableStrings.Menus.MenuItemModel.Text], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Item_Text", null, new { @class = "form-control", data_bind = "value: menuItemModel.text" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Item_Url", T[MantleCmsLocalizableStrings.Menus.MenuItemModel.Url], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-globe"></i>
                                        </span>
                                        @Html.TextBox("Item_Url", null, new { @class = "form-control", data_bind = "value: menuItemModel.url" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3">
                                    @Html.Label("Item_Description", T[MantleCmsLocalizableStrings.Menus.MenuItemModel.Description], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-file"></i>
                                        </span>
                                        @Html.TextBox("Item_Description", null, new { @class = "form-control", data_bind = "value: menuItemModel.description" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Item_CssClass", T[MantleCmsLocalizableStrings.Menus.MenuItemModel.CssClass], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-font"></i>
                                        </span>
                                        @Html.TextBox("Item_CssClass", null, new { @class = "form-control", data_bind = "value: menuItemModel.cssClass" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.Half">
                                <div class="mb-3">
                                    @Html.Label("Item_Position", T[MantleCmsLocalizableStrings.Menus.MenuItemModel.Position], new { @class = "form-label" })
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-sort-numeric-asc"></i>
                                        </span>
                                        @Html.TextBox("Item_Position", null, new { @class = "form-control", data_bind = "value: menuItemModel.position" })
                                    </div>
                                </div>
                            </div>
                            <div class="@MantleWebConstants.AdminCss.Columns.QuarterStrict">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBox("Item_Enabled", new { data_bind = "checked: menuItemModel.enabled" }) @T[MantleCmsLocalizableStrings.Menus.MenuItemModel.Enabled]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="@MantleWebConstants.AdminCss.Columns.Full">
                                <div class="mb-3 float-end">
                                    <mantle-ko-button state="Default" ko-click="menuItemModel.cancel" text="@T[MantleWebLocalizableStrings.General.Cancel]" />
                                    <mantle-ko-button state="Primary" ko-click="menuItemModel.save" icon="fa fa-save" text="@T[MantleWebLocalizableStrings.General.Save]" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>

<script type="text/x-kendo-template" id="items-template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                @T[MantleCmsLocalizableStrings.Menus.MenuItems]
            </li>
        </ul>
        <div>
            <div class="detail-grid" id="items-grid-#=Id#"></div>
        </div>
    </div>
</script>