@model Mantle.Web.Models.InstallationModel

@{
    Layout = null;
    ViewBag.Title = "Installation Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-exclude-from-bundle="true" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/united/bootstrap.min.css" />
    <link rel="stylesheet" asp-exclude-from-bundle="true" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />

    @MantleHtml.GenerateCssFiles()

    <style type="text/css">
        body {
            background: url("/img/installation-background.jpg") repeat-y;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-12">
                <div class="text-center" style="background-color:white">
                    <img src="~/img/logo.png" alt="Mantle CMS" />
                </div>

                @using (Html.BeginForm("PostInstall", "Installation", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

                    using (var panel = Html.ExtensoUI().Begin(new Panel()))
                    {
                        using (var header = panel.BeginHeader("Admin Login Details"))
                        {
                        }
                        using (var body = panel.BeginBody())
                        {
                            <div class="mb-3">
                                @Html.LabelFor(m => m.AdminEmail, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.AdminPassword, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    @Html.PasswordFor(m => m.AdminPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        }
                    }
                    @*using (var panel = Html.ExtensoUI().Begin(new Panel()))
                    {
                        using (var header = panel.BeginHeader("Default Settings"))
                        {
                        }
                        using (var body = panel.BeginBody())
                        {
                            <div class="mb-3">
                                @Html.LabelFor(m => m.DefaultLanguage, new { @class = "col-md-2 form-label" })
                                <div class="@MantleWebConstants.AdminCss.Columns.FiveSixths">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                        @Html.CulturesDropDownListFor(m => m.DefaultLanguage, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.Theme, new { @class = "col-md-2 form-label" })
                                <div class="@MantleWebConstants.AdminCss.Columns.FiveSixths">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fa fa-tint"></i></span>
                                        @Html.Mantle().ThemesDropDownListFor(m => m.Theme, new { @class = "form-control", onchange = "onThemeChange(this);" })
                                    </div>
                                    <br />
                                    <img id="theme-preview" src="http://via.placeholder.com/250x150" alt="Theme Preview" class="thumbnail" style="max-width:250px;" />
                                </div>
                            </div>
                        }
                    }*@
                    using (var panel = Html.ExtensoUI().Begin(new Panel()))
                    {
                        using (var header = panel.BeginHeader("Database"))
                        {
                        }
                        using (var body = panel.BeginBody())
                        {
                            <div class="mb-3">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.EnterConnectionString, new { @class = "form-check-input", onclick = "onEnterConnectionStringClick(this);" })
                                    @Html.LabelFor(m => m.EnterConnectionString, new{ @class = "form-check-label" })
                                </div>
                            </div>
                            <div id="connection-string-group" class="mb-3" style="display:none">
                                @Html.LabelFor(m => m.ConnectionString, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-plug"></i></span>
                                    @Html.TextBoxFor(m => m.ConnectionString, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="database-server-group" class="mb-3">
                                @Html.LabelFor(m => m.DatabaseServer, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-database"></i></span>
                                    @Html.TextBoxFor(m => m.DatabaseServer, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="database-name-group" class="mb-3">
                                @Html.LabelFor(m => m.DatabaseName, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-database"></i></span>
                                    @Html.TextBoxFor(m => m.DatabaseName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.UseWindowsAuthentication, new { @class = "form-check-input", onclick = "onUseWindowsAuthenticationClick(this);" })
                                    @Html.LabelFor(m => m.UseWindowsAuthentication, new{ @class = "form-check-label" })
                                </div>
                            </div>
                            <div id="database-username-group" class="mb-3">
                                @Html.LabelFor(m => m.DatabaseUsername, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    @Html.TextBoxFor(m => m.DatabaseUsername, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="database-password-group" class="mb-3">
                                @Html.LabelFor(m => m.DatabasePassword, new { @class = "col-md-2 form-label" })
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    @Html.TextBoxFor(m => m.DatabasePassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    @Html.CheckBoxFor(m => m.CreateSampleData, new { @class = "form-check-input" })
                                    @Html.LabelFor(m => m.CreateSampleData, new{ @class = "form-check-label" })
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-secondary" value="Install Now" />
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <script asp-location="None" asp-exclude-from-bundle="true" src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script asp-location="None" asp-exclude-from-bundle="true" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
        function onEnterConnectionStringClick(cb) {
            if (cb.checked) {
                $('#database-server-group').hide();
                $('#database-name-group').hide();
                $('#connection-string-group').show();
            }
            else {
                $('#connection-string-group').hide();
                $('#database-server-group').show();
                $('#database-name-group').show();
            }
        }
        function onUseWindowsAuthenticationClick(cb) {
            if (cb.checked) {
                $('#database-username-group').hide();
                $('#database-password-group').hide();
            }
            else {
                $('#database-username-group').show();
                $('#database-password-group').show();
            }
        }
        function onThemeChange() {
            var themeName = $('#Theme').val();
            $('#theme-preview').attr('src', '/Themes/' + themeName + '/thumbnail.png');
        }
    </script>

    @MantleHtml.GenerateScripts(ResourceLocation.Foot)
    @MantleHtml.GenerateInlineScripts(ResourceLocation.Foot)
</body>
</html>