@model Tenant
@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button data-bind="click: create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T[MantleWebLocalizableStrings.General.Create]
        </button>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

<div id="form-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
            using (var body = panel.BeginBody())
            {
                <form id="form-section-form" role="form" class="form-horizontal">
                    <fieldset>
                        <legend id="form-section-legend"></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mantle-input asp-for="Name" asp-label="@T[MantleWebLocalizableStrings.General.Name]" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mantle-input asp-for="Url" asp-label="@T[MantleWebLocalizableStrings.Tenants.Model.Url]" />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mantle-input asp-for="Hosts" asp-label="@T[MantleWebLocalizableStrings.Tenants.Model.Hosts]" />
                        </div>

                        <div class="form-group pull-right">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-default" data-bind="click: cancel">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                                <button type="button" class="btn btn-primary" data-bind="click: save"><i class="fa fa-save"></i> @T[MantleWebLocalizableStrings.General.Save]</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        }
    </article>
</div>