@model Bootstrap3ImageGalleryBlock

@inject Mantle.Web.IWorkContext WorkContext

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <div class="mb-3">
            @Html.LabelFor(m => m.MediaFolder)
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control" })
                    @*@Html.TextBoxFor(m => m.MediaFolder, new { @class = "form-control", data_bind = "value: blockModel.mediaFolder" })*@
                    <span class="input-group-text">
                        <a data-bs-toggle="modal" href="javascript:void(0);" data-bs-target="#myModal">
                            <i class="fa fa-search"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <mantle-select asp-for="ImagesPerRowXS"
                       asp-items="Html.GetEnumSelectList<Bootstrap3ImageGalleryBlock.ImagesPerRow>()"
                       asp-label="@T[LocalizableStrings.ContentBlocks.ImageGalleryBlock.ImagesPerRowXS]"
                       ko-bind="blockModel.imagesPerRowXS" />
        <mantle-select asp-for="ImagesPerRowS"
                       asp-items="Html.GetEnumSelectList<Bootstrap3ImageGalleryBlock.ImagesPerRow>()"
                       asp-label="@T[LocalizableStrings.ContentBlocks.ImageGalleryBlock.ImagesPerRowS]"
                       ko-bind="blockModel.imagesPerRowS" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-select asp-for="ImagesPerRowM"
                       asp-items="Html.GetEnumSelectList<Bootstrap3ImageGalleryBlock.ImagesPerRow>()"
                       asp-label="@T[LocalizableStrings.ContentBlocks.ImageGalleryBlock.ImagesPerRowM]"
                       ko-bind="blockModel.imagesPerRowM" />
        <mantle-select asp-for="ImagesPerRowL"
                       asp-items="Html.GetEnumSelectList<Bootstrap3ImageGalleryBlock.ImagesPerRow>()"
                       asp-label="@T[LocalizableStrings.ContentBlocks.ImageGalleryBlock.ImagesPerRowL]"
                       ko-bind="blockModel.imagesPerRowL" />
    </div>

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="dismissModal();" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Folder</h4>
                </div>
                <div class="modal-body">
                    @Html.Mantle().FileManager("MediaFolder", WorkContext.CurrentTenant.Id, FileFilterMode.Folder)
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    let modalDismissed = false;

    function dismissModal() {
        modalDismissed = true;
        $('#myModal').modal('hide');
    };

    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            if (!modalDismissed) {
                let url = $('#MediaFolder').val();
                const idx = url.indexOf("Uploads");
                url = url.substring(idx);
                $('#MediaFolder').val(url);
                //blockModel.mediaFolder(url);
            }
            modalDismissed = false;
        });
    });

    @Model.RenderKOScript()
</script>