@{
    string rtlClass = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "k-rtl" : string.Empty;
}

<template>
    @Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

    <div id="grid-section" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
            <div id="grid"></div>
        </div>
    </div>

    <div id="form-section" class="row" style="display:none">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @using (var panel = Html.MantleUI().Begin(new Panel(state: State.Primary)))
            {
                using (var header = panel.BeginHeader(T[MantleWebLocalizableStrings.General.Details])) { }
                using (var body = panel.BeginBody())
                {
                    <form id="form-section-form" role="form">
                        <fieldset>
                            <legend id="form-section-legend"></legend>
                            <div class="form-group">
                                @Html.Label("Name", T[MantleWebLocalizableStrings.ScheduledTasks.Model.Name], new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <p class="form-control-static">${name}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Seconds", T[MantleWebLocalizableStrings.ScheduledTasks.Model.Seconds], new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input type="text" id="Seconds" name="Seconds" class="form-control" value.bind="seconds" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
                                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Enabled" name="Enabled" checked.bind="enabled" /> @T[MantleWebLocalizableStrings.ScheduledTasks.Model.Enabled]
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="StopOnError" name="StopOnError" checked.bind="stopOnError" /> @T[MantleWebLocalizableStrings.ScheduledTasks.Model.StopOnError]
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default" click.delegate="cancel()">@T[MantleWebLocalizableStrings.General.Cancel]</button>
                                    <button type="button" class="btn btn-primary" click.delegate="save()"><i class="fa fa-save"></i> @T[MantleWebLocalizableStrings.General.Save]</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            }
        </article>
    </div>
</template>