@using MantleIdentityLocalizableStrings = Mantle.Identity.LocalizableStrings

@inject Mantle.Web.IWebWorkContext WorkContext
@{
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/lib/jquery-ui/jquery-ui.min.js" />*@

    <!-- Kendo -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/kendo/2014.1.318/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/kendo/2014.1.318/kendo.default.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/kendo/2014.1.318/kendo.bootstrap.min.css" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet"
              href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/dashboard.css" />

    <!-- Durandal -->
    <link rel="stylesheet" type="text/css" href="~/css/durandal/ie10mobile.css" />
    <link rel="stylesheet" type="text/css" href="~/css/durandal/durandal.css" />
    <link rel="stylesheet" type="text/css" href="~/css/durandal/starterkit.css" />

    string dir = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : string.Empty;
    string lang = WorkContext.CurrentCultureCode.LeftOf('-');

    if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" />
    }
}

<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SiteSettings.SiteName</title>
    @RenderSection("styles", required: false)
</head>
<body dir="@dir">

    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
    </form>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">@T[LocalizableStrings.Dashboard.ToggleNavigation]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ImageLink(
                    "/images/logo.png",
                    SiteSettings.SiteName,
                    Url.Action("Index", "Dashboard", new { area = MantleWebConstants.Areas.Admin }),
                    imgHtmlAttributes: new { style = "max-width:200px;margin-top:18px" })
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                @Html.Partial("AdminMenu")
                <ul id="secondary-nav" class="nav navbar-nav navbar-right">
                    @*@Html.ContentZone("AdminLanguageSwitch")*@
                    <li>
                        <a href="/">
                            <i class="kore-icon kore-icon-home"></i>
                            <span>@T[LocalizableStrings.Dashboard.Frontend]</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="kore-icon kore-icon-power-off"></i>
                            <span>@T[MantleIdentityLocalizableStrings.LogOut]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @if (WorkContext.Breadcrumbs.Any())
        {
            <div class="row">
                @Html.Partial("AdminBreadcrumbs")
            </div>
        }

        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
                asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>