@using MantleIdentityLocalizableStrings = Mantle.Identity.LocalizableStrings

@{
    bool isRTL = System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;
    string dir = isRTL ? "rtl" : string.Empty;
    string lang = WorkContext.CurrentCultureCode.LeftOf('-');
}

<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @SiteSettings.SiteName</title>
    @RenderSection("meta", required: false)

    <!-- Basic Styles -->
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              integrity="sha256-2TnSHycBDAm2wpZmgdi0z81kykGPJAkiUY+Wf97RbvY="
              crossorigin="anonymous">
    </environment>

    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/dashboard.css" />

    <!-- Kendo -->
    <link rel="stylesheet" type="text/css" href="/css/kendo/2014.1.318/kendo.common.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/kendo/2014.1.318/kendo.bootstrap.min.css" />

    <!-- Durandal -->
    <link rel="stylesheet" type="text/css" href="~/css/durandal/ie10mobile.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/durandal/css/durandal.css" />
    <link rel="stylesheet" type="text/css" href="~/css/durandal/starterkit.css" />

    <!-- TinyMCE -->
    <link rel="stylesheet" type="text/css" href="/lib/tinymce/skins/ui/oxide/skin.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/tinymce/skins/ui/oxide/content.min.css" />

    <style type="text/css">
        .admin-column {
            box-sizing: border-box;
            border: 5px solid transparent;
            background-clip: padding-box;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body dir="@dir">
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
    </form>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow sticky-top">
            <div class="container-fluid">
               @Html.ImageLink(
                    Url,
                    "/img/logo.png",
                    SiteSettings.SiteName,
                    "#",
                    aHtmlAttributes: new { @class = "navbar-brand" },
                    imgHtmlAttributes: new { style = "max-width:200px;" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="@T[LocalizableStrings.Dashboard.ToggleNavigation]">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @await Html.PartialAsync("AdminMenu")
                    <ul class="nav navbar-nav navbar-right">
                        @*@Html.ContentZone("AdminLanguageSwitch")*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">
                                <i class="fa fa-home"></i>
                                <span>@T[LocalizableStrings.Dashboard.Frontend]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-power-off"></i>
                                <span>@T[MantleIdentityLocalizableStrings.LogOut]</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (WorkContext.Breadcrumbs.Any())
        {
            <div class="row">
                @await Html.PartialAsync("AdminBreadcrumbs")
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted sticky-bottom">
        <div class="container">
            &copy; @DateTime.Now.Year - @SiteSettings.Name - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-migrate/dist/jquery-migrate.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
                crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.4.1/dist/jquery-migrate.min.js"
                integrity="sha256-FIp0sJIa14Ah1xboAy7eHNr37XJ5zv19KsvpBq3RKmg="
                crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha256-gOQJIa9+K/XdfAuBkg2ONAdw5EnQbokw/s2b8BqsRFg="
                crossorigin="anonymous">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
