@model VideoBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <mantle-select asp-for="Type"
            asp-items="Html.GetEnumSelectList<VideoBlock.VideoType>()"
            asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ControlId]"
            ko-bind="blockModel.controlId" />

        <mantle-input asp-for="ControlId" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ControlId]" ko-bind="blockModel.controlId" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Source, new { @class = "col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Source, new { @class = "form-control", data_bind = "value: blockModel.source" })
                    <span class="input-group-addon">
                        <a data-toggle="modal" href="javascript:void(0);" data-target="#myModal">
                            <i class="fa fa-search"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-4 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <mantle-input asp-for="ShowControls" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ShowControls]" ko-bind="blockModel.showControls" />
                <mantle-input asp-for="AutoPlay" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.AutoPlay]" ko-bind="blockModel.autoPlay" />
                <mantle-input asp-for="Loop" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.Loop]" ko-bind="blockModel.loop" />
            </div>
        </div>
    </div>

    <style type="text/css">
        .modal-dialog {
            width: 80% !important;
        }
    </style>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="dismissModal();" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Video</h4>
                </div>
                <div class="modal-body">
                    @Html.Mantle().FileManager("Source", WorkContext.CurrentTenant.Id, FileFilterMode.Video)
                </div>
            </div>
        </div>
    </div>

</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    let modalDismissed = false;

    function dismissModal() {
        modalDismissed = true;
        $('#myModal').modal('hide');
    };

    $('#myModal').on('hidden.bs.modal', function () {
        if (!modalDismissed) {
            const url = $('#Source').val();
            //url = "/Media/Uploads/" + url;
            blockModel.source(url);
        }
        modalDismissed = false;
    });
    @Model.RenderKOScript()
</script>