@model VideoBlock
@{
    var fileManagerModal = @Html.Mantle().ModalFileManager("Source", FileFilterMode.Video, "Select Video", knockoutBinding: "blockModel.source");
}

<div id="block-content">
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <mantle-select asp-for="Type"
            asp-items="Html.GetEnumSelectList<VideoBlock.VideoType>()"
            asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ControlId]"
            ko-bind="blockModel.controlId" />

        <mantle-input asp-for="ControlId" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ControlId]" ko-bind="blockModel.controlId" />
    </div>
    <div class="@MantleWebConstants.AdminCss.Columns.Half">
        <div class="mb-3">
            @Html.LabelFor(m => m.Source, new { @class = "form-label" })
            @fileManagerModal.RenderFormField()
        </div>
        <div class="mb-3">
            <label></label>
            <mantle-input asp-for="ShowControls" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.ShowControls]" ko-bind="blockModel.showControls" />
            <mantle-input asp-for="AutoPlay" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.AutoPlay]" ko-bind="blockModel.autoPlay" />
            <mantle-input asp-for="Loop" asp-label="@T[MantleCmsLocalizableStrings.ContentBlocks.VideoBlock.Loop]" ko-bind="blockModel.loop" />
        </div>
    </div>

    @fileManagerModal.RenderModal()

</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @fileManagerModal.RenderScript()
    @Model.RenderKOScript()
</script>