@using Mantle.Web
@using Mantle.Web.Configuration
@using Mantle.Web.Mvc
@addTagHelper *, Mantle.Web
@inject Microsoft.Extensions.Localization.IStringLocalizer T

@model SiteSettings

<div id="settings-content">
    @using (var tabs = Html.ExtensoUI().Begin(new Tabs()))
    {
        tabs.Tab(T[MantleWebLocalizableStrings.Settings.Site.Tabs.General], "tab-general");
        tabs.Tab(T[MantleWebLocalizableStrings.Settings.Site.Tabs.Themes], "tab-themes");
        tabs.Tab(T[MantleWebLocalizableStrings.Settings.Site.Tabs.Localization], "tab-localization");
        tabs.Tab(T[MantleWebLocalizableStrings.Settings.Site.Tabs.SEO], "tab-seo");
        tabs.Tab(T[MantleWebLocalizableStrings.Settings.Site.Tabs.StaticAssets], "tab-static-assets");

        using (var tab = tabs.BeginPanel())
        {
            <mantle-input asp-for="SiteName" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.SiteName]" asp-validation-msg="true" />
            <mantle-input asp-for="DefaultFrontendLayoutPath" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.DefaultFrontendLayoutPath]" asp-validation-msg="true" />
            <mantle-input asp-for="AdminLayoutPath" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.AdminLayoutPath]" asp-validation-msg="true" />
            <mantle-input asp-for="DefaultGridPageSize" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.DefaultGridPageSize]" asp-validation-msg="true" />
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.DefaultTheme, new { @class = "form-label" })
                @Html.Mantle().ThemesDropDownListFor(m => m.DefaultTheme, new { @class = "form-control", data_bind = "value: defaultTheme" })
                @Html.ValidationMessageFor(m => m.DefaultTheme)
            </div>
            <mantle-input asp-for="AllowUserToSelectTheme" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.AllowUserToSelectTheme]" />
        }
        using (var tab = tabs.BeginPanel())
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.DefaultLanguage, new { @class = "form-label" })
                @Html.Mantle().LanguagesDropDownListFor(m => m.DefaultLanguage, new { @class = "form-control", data_bind = "value: defaultLanguage" })
                @Html.ValidationMessageFor(m => m.DefaultLanguage)
            </div>
        }
        using (var tab = tabs.BeginPanel())
        {
            <mantle-input asp-for="DefaultMetaKeywords" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.DefaultMetaKeywords]" asp-validation-msg="true" />
            <mantle-input asp-for="DefaultMetaDescription" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.DefaultMetaDescription]" asp-validation-msg="true" />
            <mantle-input asp-for="HomePageTitle" asp-label="@T[MantleWebLocalizableStrings.Settings.Site.HomePageTitle]" asp-validation-msg="true" />
        }
        using (var tab = tabs.BeginPanel())
        {
            @await Html.Mantle().EmbeddedPartialAsync(EmbeddedPartialType.ResourceSettings)
        }
    }
</div>

<script asp-location="None" asp-exclude-from-bundle="true" type="text/javascript">
    @Model.RenderKOScript()
</script>