@using Mantle.Plugins.Messaging.Forums
@using Mantle.Plugins.Messaging.Forums.Models
@using Mantle.Web
@model ForumBreadcrumbModel

@{
    //var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter; //TODO:
    string breadcrumbDelimiter = string.Empty;
}

<nav class="forum-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })" title="@T[MantleWebLocalizableStrings.General.Home]">
                @T[MantleWebLocalizableStrings.General.Home]
            </a>
        </li>
        <li class="breadcrumb-item">
            <span class="delimiter">@breadcrumbDelimiter</span>
            @Html.ActionLink(T[LocalizableStrings.Forums], "Index", routeValues: null, htmlAttributes: new { title = T[LocalizableStrings.Breadcrumb.ForumHomeTitle] })
        </li>
        @if (Model.ForumGroupId > 0)
        {
            <li class="breadcrumb-item">
                <span class="delimiter">@breadcrumbDelimiter</span>
                @Html.ActionLink(
                    Model.ForumGroupName,
                    "ForumGroup",
                    routeValues: new { id = Model.ForumGroupId, slug = Model.ForumGroupSeName },
                    htmlAttributes: new { title = string.Format("{0}: {1} ", T[LocalizableStrings.Breadcrumb.ForumGroupTitle], Model.ForumGroupName) })
            </li>
        }
        @if (Model.ForumId > 0)
        {
            <li class="breadcrumb-item">
                <span class="delimiter">@breadcrumbDelimiter</span>
                @Html.ActionLink(
                    Model.ForumName,
                    "Forum",
                    routeValues: new { id = Model.ForumId, slug = Model.ForumSeName },
                    htmlAttributes: new { title = string.Format("{0}: {1} ", T[LocalizableStrings.Breadcrumb.ForumTitle], Model.ForumName) })
            </li>
        }
        @if (Model.ForumTopicId > 0)
        {
            <li class="breadcrumb-item">
                <span class="delimiter">@breadcrumbDelimiter</span>
                @Html.ActionLink(
                    Model.ForumTopicSubject,
                    "Topic",
                    routeValues: new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName },
                    htmlAttributes: new { title = string.Format("{0}: {1} ", T[LocalizableStrings.Breadcrumb.TopicTitle], Model.ForumTopicSubject) })
            </li>
        }
    </ol>
</nav>